<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ecs193.speechPrepPal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera2" />
    <uses-permission android:name="android.hardware.camera2any" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@drawable/ic_speakerpreplauncherlogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Speech"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".HowItWorks"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="portrait"
                android:value=".TitleScreen" />
        </activity>
        <activity
            android:name=".RecordAudio"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="portrait"
                android:value=".SpeechView" />
        </activity>
        <activity
            android:name=".BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DiffView"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="portrait"
                android:value=".SpeechPerformance" />
        </activity>

        <service
            android:name=".SpeechService"
            android:screenOrientation="portrait" />

        <activity
            android:name=".PlayBack"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SpeechPerformance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RecordVideo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewSpeech"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_new_speech"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="portrait"
                android:value=".MainMenu" />
        </activity>
        <activity
            android:name=".MainMenu"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            android:theme="@style/AppTheme.Launcher">
        </activity>
        <activity
            android:name=".SpeechView"
            android:exported="true"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait"
            >

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="portrait"
                android:value=".MainMenu" />
        </activity>
        <activity
            android:name=".SpeechSettings"
            android:exported="true"
            android:parentActivityName=".SpeechView"
            android:screenOrientation="portrait">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="portrait"
                android:value=".SpeechView" />
        </activity>
        <activity
            android:name=".NewSpeech"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_new_speech"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:screenOrientation="portrait"
                android:value=".MainMenu" />
        </activity>
    </application>

</manifest>